@import url('https://fonts.googleapis.com/css2?family=Sarpanch&family=Titillium+Web:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

header h1{
    text-align: center;
    padding: 20px;
    font-family: 'Sarpanch', sans-serif;
    font-size: 5rem;
}
body{
    background-color: rgb(247, 247, 247);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.card{
    width: 100%;
    border: 1px solid rgb(0, 0, 0) ;
    box-shadow: 5px 5px 5px rgb(116, 115, 115);
}

.card > img{
    width: 100%;
}

.card > h3 {
    color: red;
    text-align: center;
    font-size: 1.1rem;
    padding: 5px 10px;
}

